:root{
  --text: #21171b;
  --background: #f6e9eb;
  --primary: #f97781;
  --secondary: #ffb3ba;

  --font: "Montserrat", sans-serif;
  --font-2: 'Roboto Mono', monospace;
}

h1, h2, h3, p, li, a{
  font-family: var(--font);
  color: var(--text);
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  background-color: var(--background);
}

.container{
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 1rem;
}

/* header */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--text);
  background-color: var(--background);
  z-index: 1;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

nav .logo a{
  font-family: var(--font-2);
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 3px;
}

nav ul{
  display: flex;
  gap: 20px;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  font-size: 1rem;
  transition: all 0.15s;
}

nav ul li a:hover{
  color: var(--primary);
}

.hamburger{
  cursor: pointer;
  display: none;
}

.hamburger i{
  font-size: 1.2rem;
}

/* main */
main{
  margin-top: 60px;
  display: flex;
  gap: 2rem;
}

.content-left{
  flex: 3;
}

/* home */
.home{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home h1{
  font-weight: bold;
  font-size: 4rem;
  line-height: 1em;
}

.home h1 span{
  color: var(--primary);
}

.home p{
  font-size: 1rem;
}

.home a{
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  color: var(--background);
  background-color: var(--primary);
  align-self: flex-start;
  border: 2px solid var(--primary);
  
  transition: all 0.15s;
}

.home a:hover{
  color: var(--text);
  background-color: var(--secondary);
  border: 2px solid var(--text);
}

/* articles */
.articles{
  margin-top: 150px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.articles h2{
  font-size: 2rem;
  color: var(--primary);
  text-align: center;
}

.articles article{
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  gap: 1rem;
}

article img{
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}

article ul, article ol{
  margin-left: 1rem;
}

article a{
  font-size: 1rem;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  color: var(--background);
  background-color: var(--primary);
  align-self: flex-start;

  transition: transform 0.15s;
}

article a:hover{
  transform: translateY(-3px);
}

/* aside */
.author-profile{
  flex: 2;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  align-self: flex-start;
  background-color: var(--secondary);
}

.author-profile img{
  width: 100%;
}

.author-profile p{
  font-size: 0.8rem;
}

.author-profile .social-links a{
  font-size: 1rem;
  color: var(--text);
}

.author-profile .social-links a:hover{
  color: var(--background);
}

/* resep-favorit */
#resep-favorit{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#resep-favorit h2{
  color: var(--primary);
  text-align: center;
  font-size: 2rem;
}

#resep-favorit > p{
  color: var(--text);
  text-align: center;
  font-size: 1rem;
}

.carousel {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-container {
  overflow-x: hidden;
  flex: 1;
  width: 0;
}

.next, .previous {
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 12px;
  border: none;
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 50%;
  transition: all 0.15s;
}

.next:hover, .previous:hover {
  color: var(--secondary);
  background-color: var(--primary);
}

.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - (1.5rem * (2 - 1))) / 2);
  grid-gap: 1.5rem;
  position: relative;
  left: 0;
  background-color: var(--background);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white; 
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.card p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.card a {
  color: var(--primary);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.15s;
}

.card a:hover {
  color: var(--secondary);
}

/* footer */
footer{
  margin-top: 150px;
  padding: 1.2rem;
  background-color: var(--secondary);
}

footer a{
  font-family: var(--font-2);
  font-size: 1rem;
  display: block;
  cursor: pointer;
  text-align: center;
  color: var(--text);
  opacity: 0.5;
  transition: opacity 0.15s;
}

footer a:hover{
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .wrapper{
    grid-auto-columns: calc((100% - (1.5rem * 0)) / 1);
  }
}

@media screen and (max-width: 768px) {
  html{
    font-size: 80%;
  }

  .card, .next{
    margin-left: 4px;
  }

  nav ul{
    display: none;
    position: absolute;
    top: 60.5px;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 0;
    background-color: var(--background);
  }

  .show{
    display: flex;
  }

  .margin-top{
    margin-top: 156px;
  }

  nav ul li{
    border-bottom: 1px solid var(--text);
  }

  nav ul li a{
    padding: 1rem 1rem;
    display: block;
  }
  
  nav ul li a:hover{
    color: var(--background);
    background-color: var(--primary);
  }
  
  .hamburger{
    display: block;
  }
}

@media screen and (max-width: 568px){
  main{
    flex-direction: column;
  }

  .articles{
    margin-top: 0;
  }

  .author-profile{
    margin-top: 80px;
  }
}